#response {
    color      : #000;
    margin     : 2rem auto;
    padding    : 0.7rem;
    width      : 100%;
    min-height : 50rem;
    font-size  : 0.8rem;
    line-height: 1.2;
    background : #a4a4a4;
}

#response::-webkit-scrollbar-thumb {
    background: #fff;
}

#response::-webkit-scrollbar-track {
    background: #f44;
}